/*          ORGANIZAÇÃO
    
    1º Tamanho, formatos, paddings, margens,etc;
    2º Cores, sombras, degradês,etc
    3º Posição. display. justify-content
    4º Outros.

*/

*, ::before, ::after {  
    padding: 0;
    margin: 0%;
    box-sizing: border-box;
}

:root {
    --cor-1: #18161f;
    --cor-2: #242030;
    --cor-3: #7b68ee;
    --cor-4: #c0b5ff;
}

body {
    background-color: #242030;
    
    overflow-x: hidden;
    
    font-family: 'Average Sans', sans-serif;
}


/* header */

nav {
    height: 8vh;
    
    background-color: var(--cor-1);
    box-shadow: 0px 5px 10px #000;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 20px;
    letter-spacing: 3px;
    margin-left: 5px;
    
    color: var(--cor-3);
    
    text-align: left;
    transition: ease-out 0.2s;
}

.logo:hover {
    color: var(--cor-4);
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 30px;
    
    transition: 0.3s;
}

.nav-list a:hover {
    opacity: 0.6;
}

nav a{ 
    color: #fff;
    text-decoration: none;    
}


/* MENU HAMBURGUER */

.mobile-menu {
    display: none;
    cursor: pointer;
}
  
.mobile-menu div {
    width: 32px;
    height: 2px;
    margin: 8px;

    background: #fff;

    transition: 0.3s;
}
  
@media (max-width: 999px) {
    
    body {
      overflow-x: hidden;
    }

    .nav-list {
        z-index: 1;
        top: 8vh;
        right: 0;
        width: 35vw;
        height: 92vh;
        
        background-color: var(--cor-1); 
        box-shadow: 4px 5px 5px 3px #000;
        
        position: absolute;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu {
        display: block;
    }
}
  
.nav-list.active {
    transform: translateX(0);
}
  
@keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
}
  
.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}
  
.mobile-menu.active .line2 {
    opacity: 0;
}
  
.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}


/* COMEÇO DA TODO  */

.todo {
    width: 50vw;
    gap: 15px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.todo__title {
    font-size: 50px;
    margin-top: 50px;
    
    color: var(--cor-4);
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo__title::before,
.todo__title::after {
    content: '';
    height: 20px;
    width: 20px;
    border-radius: 100%;
    margin: 0 10px;
    background-color: var(--cor-4);
}

.todo__list {
    width: 100%;
    gap: 10px;

    display: flex;
    flex-direction: column;
}

.todo__item{
    width: 100%;
    min-height: 55px;
    padding: 5px;
    border-radius: 10px;
    
    color: #fff;
    background-color: var(--cor-1);
    box-shadow: 0px 3px 5px #000;

    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.1s ease-out;
    cursor: pointer;
}

.todo__item > div {
    width: 85%;
    font-size: 18px;
}

.todo__item:hover {
    font-weight: 900;
    
}

.todo__item > input[type='text'] {
    border: none;
    width: 80%;
    font: inherit;
}


.todo__item > img[id='lixeira'],
.todo__item > input[type='checkbox'] {
    width: 20px;
    height: 20px;
    margin: 0 10px;
    filter: invert(100%);
}

.todo__item > input[type='checkbox']:checked  + div {
    text-decoration:line-through;
}

.todo__new-item{
    width: 100%;
    margin: 10px;
    
    display: flex;
    font: inherit;
    align-items: center;
}

.todo__new-item > input[type="text"]{
    width: 90%;
    min-height: 70px;
    padding: 0 10px;
    border-radius: 10px 0 0 10px;
    
    background-color: var(--cor-4);
    box-shadow: 0px 3px 5px #000;
    
    border: none;
    outline: none;
    font: inherit;
}

.todo__new-item > input[type="button"]{
    width: 20%;
    min-height: 70px;
    border-radius: 0 10px 10px 0;
    
    color: #fff;
    background-color: var(--cor-3);
    box-shadow: 0 2px 5px #000;
    
    border: none;
    cursor: pointer;
    outline: none;
    font: inherit;
}

.todo__new-item > input::placeholder {
    font-size: 20px;
    text-align: center;
    font-style: italic;
    font-weight: normal;
}

@media (max-width: 900px) {
    .todo__title {
       width: 100vw;
    }
    
    .todo__item {
        width: 70vw;
        align-self: center;
    }

    .todo__new-item {
        flex-direction: column;
        align-self: center;
    }

    .todo__new-item > input[type="text"] {
        width: 70vw;
        border-radius: 10px;
    }

    .todo__new-item > input[type="button"] {
        width: 35vw;
        margin-top: 5px;
        border-radius: 10px;
    }
}